<!DOCTYPE html>
<html>
<head>
    <title>Entity Counts</title>
    <style>
    table {
      table-layout: fixed;
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      text-align: center;
      padding: 8px;
    }
    th {
      background-color: black;
      color: white;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Entity Label</th>
            <th>Entity Text</th>
            <th>Filename</th>
        </tr>
        {% for entity in entities|sort %}
            <tr>
                <td>{{ entity[2] }}</td>
                <td>{{ entity[1] }}</td>
                <td>{{ entity[0] }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>[ <a href="/">Add Another Document</a> | <a href="/analyze">View All Documents</a> ]</p>
</body>
</html>
