<!DOCTYPE html>
<html>
<head>
    <title>Home Historical Document Processor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"
</head>
<body>
    <div style="text-align: center;">
        <h1 >Historical Document Processor Home</h1>

        <br>
        <br>
        Please select which file you would like processed. 
        <br><br>
        
        <form action = "{{ url_for('ocr_results') }}" method = "POST" 
            enctype = "multipart/form-data">
            <input type = "file" name = "file" accept=".pdf,.jpeg"/>
            <input type = "submit"/>
        </form>
        <br><br>
        [ <a href="/all_docs">All Documents</a> ] 
    </div>  
</body>
</html>